@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Raleway');

html, body{
	margin: 0;
	padding: 0;
	font-family: 'Raleway', serif;
}
.container{
	margin-top: 10px;
}
.option-btn {
	position: relative;
	border: none;
	outline:none;
	cursor: pointer;
	background: #eee;
	color: black;
	padding: 15px 40px;
	border-radius: 2px;
	font-size: 15px;
	overflow: hidden;
}

/*  Ripple */

.ripple {
	width: 0;
	height: 0;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.4);
	transform: scale(0);
	position: absolute;
	opacity: 1;
}
.rippleEffect {
	animation: rippleDrop .5s linear;
}

@keyframes rippleDrop {
	100% {
		transform: scale(2);
		opacity: 0;
	}
}

.chart-canvas{
	height: 300px;
	width: 300px;
}
canvas {
	position: absolute;
	left: 0;
	right: 0;
	margin:auto;
}

.table-text{
	font-size: 1.2em;
}

.name{
	font-family: 'Amatic SC', cursive;
	font-size: 4em;
	text-align: center;
}

.table-header{
	font-size: 1.5em;
	font-weight: 800;
}

.col{
	margin-top: 5px;
}
