<div class="container">
   <div class="userName" ng-hide="showBlock">
      <div class="input-field">
         <input id="full_name" type="text" class="validate" ng-model="name">
         <label for="full_name">Full Name</label>
      </div>
      <button class="btn blue darken-4 waves-effect" ng-click="enterName()">Submit</button>
   </div>
   <div ng-if="showBlock" class="">
      <p class="name">Hello {{name}}!</p>
      <div ng-repeat="q in questions" ng-if="question_index == $index">
         <h5>Question {{$index + 1}}</h5>
         <h4>{{q.question}}</h4>
         <div class="row">
            <div class="col s12 m6 l4" ng-repeat="o in q.options">
               <div id="{{o.id}}" class="option-btn" ng-click="createRipple(o.id, $event); submitAnswer(q.q_id, o.id)">{{o.text}}</div>
            </div>
         </div>
      </div>
   </div>
</div>
