<div class="container center">
   <p class="table-text">Hi {{userName}}, Your Score: {{data[0]}} correct out of {{data[0] + data[1]}}</p>
   <div class="chart-canvas center">
      <canvas id="pie" class="chart chart-pie" chart-data="data" chart-labels="labels"></canvas><br>
   </div>

   <div class="row table-header">
      <div class="col s3">
         <p class="table-text">Question</p>
      </div>
      <div class="col s3">
         <p class="table-text">Correct Answer</p>
      </div>
      <div class="col s3">
         <p class="table-text">Your Answer</p>
      </div>
      <div class="col s3">
         <p class="table-text">Status</p>
      </div>
   </div>

   <div class="row" ng-repeat="qa in resultsArray">
      <div class="col s3">
         <p class="table-text">{{qa.question}}</p>
      </div>
      <div class="col s3">
         <p class="table-text">{{qa.correctAnswer}}</p>
      </div>
      <div class="col s3">
         <p class="table-text">{{qa.userAnswer}}</p>
      </div>
      <div class="col s3">
         <p class="table-text">{{qa.status}}</p>
      </div>
   </div>

</div>
